@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Saira+Stencil+One&family=Ubuntu:wght@500&family=Viga&display=swap');
body {
	background-color: #141414;
	font-family: 'Ubuntu', sans-serif;
	color: #dddddd;
}

.grey,
p {
	color: #dddddd;
}

.brand {
	font-family: 'Saira Stencil One', cursive;
}

#intro {
	position: relative;
	height: 80vh;
	padding-top: 6vh;
	background-image: linear-gradient(#3a41c6, #512888);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
}
hr {
	border: 1px solid gainsboro;
}
.wide-hr {
	width: 100%;
}
.heading-hr {
	float: left;
	width: 15%;
}

#task-title {
	margin-bottom: -1px;
}


/*  */
.fac {
	padding: 20px;
	font-size: 30px;
	width: 70px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	background: #272727;
	color: white;
}

.fac:hover {
	opacity: 0.9;
	color: white;
	background-color: #272728;
}

.vp-loader {
	color: official;
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.vp-loader div {
	transform-origin: 25px 25px;
	animation: vp-loader 1.2s linear infinite;
}
.vp-loader div:after {
	content: " ";
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 6px;
	height: 18px;
	border-radius: 20%;
	background: #0040cc;
}
.vp-loader div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}
.vp-loader div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}
.vp-loader div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}
.vp-loader div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}
.vp-loader div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}
.vp-loader div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}
.vp-loader div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}
.vp-loader div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}
.vp-loader div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}
.vp-loader div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}
.vp-loader div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}
.vp-loader div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}
@keyframes vp-loader {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.bubbly-button {
	display: inline-block;
	font-size: 1em;
	padding: 1em 2em;
	margin-top: 10px;
	margin-bottom: 30px;
	-webkit-appearance: none;
	appearance: none;
	background-color: #0044ff;
	color: #fff;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	position: relative;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	box-shadow: 0 2px 25px rgba(35, 23, 173, 0.966);
}
.bubbly-button:focus {
	outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
	position: absolute;
	content: '';
	display: block;
	width: 140%;
	height: 100%;
	left: -20%;
	z-index: -1000;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
}
.bubbly-button:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle, #0044ff 20%, transparent 20%), radial-gradient(circle, transparent 20%, #0044ff 20%, transparent 30%), radial-gradient(circle, #0044ff 20%, transparent 20%), radial-gradient(circle, #0044ff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #0044ff 15%, transparent 20%), radial-gradient(circle, #0044ff 20%, transparent 20%), radial-gradient(circle, #0044ff 20%, transparent 20%), radial-gradient(circle, #0044ff 20%, transparent 20%), radial-gradient(circle, #0044ff 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle, #0044ff 20%, transparent 20%), radial-gradient(circle, #0044ff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #0044ff 15%, transparent 20%), radial-gradient(circle, #0044ff 20%, transparent 20%), radial-gradient(circle, #0044ff 20%, transparent 20%), radial-gradient(circle, #0044ff 20%, transparent 20%), radial-gradient(circle, #0044ff 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
	transform: scale(0.9);
	background-color: #002fff;
	box-shadow: 0 2px 25px rgba(47, 0, 255, 0.2);
}
.bubbly-button.animate:before {
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
	0% {
		background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
   }
	50% {
		background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
   }
	100% {
		background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
}
@keyframes bottomBubbles {
	0% {
		background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
   }
	50% {
		background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
   }
	100% {
		background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
}
